.header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    z-index: 1;
}

.headerContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 95%;
    margin: auto;
}

.openNavbarIcon{
    width: 30px;
    display: flex;
}

.titleLink{
    font-size: 1.25rem;
    font-weight: 600;
}

@media(width>=768px){
    .header{
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
        padding: 10px 0;
    }

    .headerContainer{
        gap: 35px;
    }

    .openNavbarIcon{
        width: 45px;
    }

    .titleLink{
        font-size: 1.8rem;
        font-weight: 700;
    }
}

@media(width>=992px){
    .header{
        padding: 12px 0;
    }

    .headerContainer{
        gap: 0;
        justify-content: space-between;
        max-width: 1800px;
    }

    .openNavbarIconContainer{
        display: none;
    }

    .titleLink{
        font-size: 1.4rem;
    }
}

@media(width>=1200px){
    .headerContainer{
        width: 90%;
    }

    .titleLink{
        font-size: 1.5rem;
    }
}