@import '../../scss/variables.scss';

.openNavbarIcon{
    position: fixed;
    top: 5px;
    left: 7px;
    width: 40px;
    transform: scaleX(-1);
}

.header{
    display: none;
}

@media(width>=768px){
    .openNavbarIcon{
        width: 55px;
    }
}

@media(width>=992px){
    .openNavbarIcon{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        position: fixed;
        top: 0;
        width: 100%;
        backdrop-filter: blur(6px);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        padding: 10px 0;
        z-index: 10;
    }

    .headerContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1800px;
        width: 95%;
        margin: auto;
    }

    .titleLink{
        font-size: 1.4rem;
    }
}

@media(width>=1200px){
    .headerContainer{
        width: 90%;
    }

    .titleLink{
        font-size: 1.5rem;
    }
}