.header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    z-index: 1;
}

.openNavbarIconContainer{

}

.openNavbarIcon{
    width: 30px;
    display: flex;
}