/* --------------------------- IMPORTS --------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* --------------------------- GENERAL --------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body{
    background-image: url("/img/background.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionTitle{
    font-size: 2.2rem;
    font-weight: 700;
    background: linear-gradient(to right, rgba(255,189,144,1), rgba(223,26,116,1), rgba(93,3,159,1));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    margin-bottom: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.display-block{
    display: block !important;
}

.display-none{
    display: none !important;
}

.aboutMeAnimation{
    animation: left-to-right 2s;
}

.showMobileNavbar{
    display: block !important;
    animation: up-to-down 1s;
}

.showProyectDetail{
    display: block !important;
    animation: fadeIn 1s;
}

/* --------------------------- HEADER --------------------------- */

.headerNavbar{
    display: none;
}

.mobileNavbarButton{
    border: none;
    background: none;
    position: absolute;
}

.closeMobileNavbarButton{
    border: none;
    background: none;
}

.fa-bars-staggered{
    font-size: 3rem;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10;
    color: rgba(255,189,144,1);
    text-shadow: 0px 0px 10px rgba(255,189,144,1);
}

.fa-xmark{
    font-size: 3rem;
    color: rgba(255,189,144,1);
    text-shadow: 0px 0px 10px rgba(255,189,144,1);
    margin-top: 50px;
}

/* --------------------------- MAIN --------------------------- */

/* ------------- MOBILE NAVBAR ------------- */

.mobileNavbar{
    display: none;
    width: 100%;
    background-color: rgba(159, 32, 209, 0.950);
    backdrop-filter: blur(10px);
    padding: 40px 0;
    z-index: 20;
    position: fixed;
    top: 0;
    box-shadow: 0px 1000px 0px 1000px rgba(0, 0, 0, 0.6);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mobileNavbarUnorderList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.mobileNavbarLink{
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

/* ------------- HOME SECTION ------------- */

.homeSection{
    height: 100vh;
}

.homeInformation{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10%;
    text-align: center;
    animation: fadeIn 2s ease-in-out forwards;
}

.homeTItle{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.homeSubtitle{
    color: rgb(159, 32, 209);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.cvButton{
    border: none;
    background: linear-gradient(90deg, rgba(255,189,144,1) 0%, rgba(223,26,116,1) 50%, rgba(93,3,159,1) 100%);
    padding: 15px 40px;
    border-radius: 20px;
}

.cvLink{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

/* ------------- PROYECTS SECTION ------------- */

.proyectsSection{
    padding: 40px 20px;
}

.proyectsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.proyectContainer{
    width: 300px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    transition: all .5s;
    cursor: pointer;
    border: 2px solid rgba(50, 50, 50, 0.8);
}

.proyectContainer:hover{
    box-shadow: 0px 0px 14px 3px rgba(254,190,144,0.75);
    transition: all .5s;
}

.proyectImage{
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

.proyectTitle{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.proyectDetail{
    display: none;
    position: fixed;
    width: 80%; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(40, 40, 40);
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 200px rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.closeProyectDetailButton{
    background: none;
    border: none;
    color: rgb(75, 75, 75);
    font-size: 1.5rem;
    position: absolute;
    top: 5px;
    right: 10px;
}

.proyectImageDetail{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 200px;
}

.proyectTitleDetail{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin: 20px 0;
}

.proyectLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.proyectLink{
    font-size: 1.5rem;
    background: linear-gradient(90deg, rgba(255,189,144,1) 0%, rgba(93,3,159,1) 100%);
    color: white;
    padding: 3px 30px;
    border-radius: 10px;
}

.editDeleteButtonsContainer{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: column;
}

.editDeleteButton{
    width: 100%;
    background: linear-gradient(90deg, rgba(255,189,144,1) 0%, rgba(93,3,159,1) 100%);
    color: white;
    border: none;
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

/* ------------- ABOUT ME SECTION ------------- */

.aboutMeSection{
    padding: 40px 20px;
}

.aboutMeContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.aboutMeImageAndInfoContainer{
    width: 100%;
}

.aboutMeImage{
    width: 100%;
    object-fit: contain;
}

.aboutMeInfoContainer{
    background: linear-gradient(90deg, rgba(66,66,66,1) 0%, rgba(31,31,31,1) 100%);
    padding: 10px;
    border-radius: 20px;
}

.aboutMeInfoContainer>p{
    color: white;
    line-height: 1.5rem;
    font-weight: 600;
}

.aboutMeCardsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.aboutMeCard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(90deg, rgba(50,50,50,0.8) 0%, rgba(0,0,0,0.8) 100%);
    padding: 30px 10px;
    border-radius: 20px;
    width: 100%;
    view-timeline-name: --card;
    view-timeline-axis: block;
    animation-timeline: --card;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

.aboutMeCertificateCard{
    border: 4px solid #ddbe66;
}

.aboutMeExperienceCard{
    border: 4px solid #9bfb92;
}

.aboutMeSatisfiedCustomersCard{
    border: 4px solid rgb(24, 132, 255);
}

.aboutMeQualityCard{
    border: 4px solid rgb(229, 124, 255);
}

.aboutMeDeliveryTimeCard{
    border: 4px solid rgb(133, 220, 255);
}

.fa-medal{
    color: #ddbe66;
}

.fa-flask{
    color: #9bfb92;
}

.fa-face-smile-beam{
    color: rgb(24, 132, 255);
}

.fa-star{
    color: rgb(229, 124, 255);
}

.fa-truck-fast{
    color: rgb(133, 220, 255);
}

.aboutMeCardIcon{
    width: 30%;
    text-align: center;
    font-size: 2.3rem;
}

.aboutMeCardInfo{
    width: 70%;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

/* ------------- CONTACT SECTION ------------- */

.contactSection{
    padding: 40px 20px;
}

.contactForm{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 14px 0px rgba(254,190,144,0.75);
}

.formInput{
    width: 100%;
    margin-bottom: 20px;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255,189,144,1);
    padding: 10px;
    border-radius: 3px;
    font-size: 1rem;
    outline: none;
    transition: all .5s;
    color: white;
}

.formInput:focus{
    box-shadow: 0px 0px 14px 0px rgba(254,190,144,0.75);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: all .5s;
}

.contactFormSubmitButton{
    background: linear-gradient(to right, rgba(255,189,144,1), rgba(223,26,116,1), rgba(93,3,159,1));
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

/* --------------------------- FOOTER --------------------------- */

footer{
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
    padding: 30px 10px;
    box-shadow: 0px 0px 14px 3px rgba(254,190,144,0.75);
}

.footerCopyright{
    font-size: .9rem;
    margin-bottom: 10px;
    color: rgb(165, 165, 165);
}

.footerPortfolioLink{
    font-size: 1.1rem;
    font-weight: 500;
}

.portfolioLink{
    font-weight: 600;
    background: linear-gradient(to right, rgba(255,189,144,1), rgba(223,26,116,1), rgba(93,3,159,1));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

/* --------------------------- ERROR 404 --------------------------- */

.error404Container{
    background: linear-gradient(to right, rgb(55, 55, 55), rgb(10, 10, 10));
    color: white;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    box-shadow: 0px 0px 14px 3px rgba(254,190,144,0.75);
}

.error404Title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.error404Text{
    font-size: .8rem;
}

/* --------------------------- LOGIN --------------------------- */

.loginForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 14px 3px rgba(254,190,144,0.75);
    padding: 20px;
    width: 80%;
}

.loginTitle{
    background: linear-gradient(to right, rgba(255,189,144,1), rgba(223,26,116,1), rgba(93,3,159,1));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    font-weight: 700;
    margin-bottom: 20px;
}

.loginInput{
    width: 100%;
    background-color: rgb(40, 40, 40);
    border: none;
    font-size: 1rem;
    color: white;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: 500;
}

.loginButton{
    background: linear-gradient(to right, rgba(255,189,144,1), rgba(223,26,116,1), rgba(93,3,159,1));
    color: white;
    border: none;
    border-radius: 10px;
    padding: 7px 20px;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.loginErrorsContainer{
    color: red;
    font-size: .9rem;
}

.loginError{
    display: block;
}

/* --------------------------- MEDIA QUERIES --------------------------- */

/* --------------------------- TABLET VIEW --------------------------- */

@media (width >= 768px) {
/* -------------- GENERAL -------------- */

.sectionTitle{
    font-size: 3rem;
    margin-bottom: 30px;
}

/* -------------- HEADER -------------- */

.fa-bars-staggered{
    font-size: 4rem;
}

.fa-xmark{
    font-size: 4rem;
    margin-top: 60px;
}

/* -------------- MAIN -------------- */

/* MOBILE NAVBAR */

.mobileNavbar{
    padding: 60px 0;
}

.mobileNavbarUnorderList{
    gap: 40px;
}

.mobileNavbarLink{
    font-size: 2rem;
    font-weight: 500;
}

/* HOME SECTION */

.homeSection{
    height: 100vh;
}

.homeInformation{
    bottom: 10%;
}

.homeTItle{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.homeSubtitle{
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.cvButton{
    padding: 10px 30px;
}

.cvLink{
    font-size: 1.3rem;
}

/* PROYECTS SECTION */

.proyectsSection{
    padding: 40px 20px;
}

.proyectsContainer{
    gap: 20px;
    justify-content: space-between;
}

.proyectContainer{
    width: 340px;
    margin: 0;
}

.proyectTitle{
    font-size: 1.4rem;
}

.proyectDetail{
    width: 60%;
    padding: 60px 20px 40px;
    box-shadow: 0px 0px 0px 400px rgba(0, 0, 0, 0.6);
}

.closeProyectDetailButton{
    font-size: 2rem;
    top: 10px;
    right: 15px;
}

.proyectTitleDetail{
    font-size: 1.5rem;
    margin: 30px 0;
}

.proyectLinks{
    gap: 50px;
}

.proyectLink{
    font-size: 1.7rem;
    padding: 3px 40px;
}

.editDeleteButtonsContainer{
    margin-top: 30px;
}

.editDeleteButton{
    font-size: 1.2rem;
}

/* ------------- ABOUT ME SECTION ------------- */

.aboutMeSection{
    padding: 40px 20px;
}

.aboutMeContainer{
    gap: 0;
}

.aboutMeImageAndInfoContainer{
    width: 40%;
}

.aboutMeInfoContainer{
    padding: 10px;
}

.aboutMeInfoContainer>p{
    font-size: .9rem;
    line-height: 1.3rem;
    font-weight: 500;
}

.aboutMeCardsContainer{
    width: 60%;
    padding-left: 40px;
    gap: 3px;
}

.aboutMeCard{
    padding: 0;
}

.aboutMeQualityCard{
    border: 4px solid rgb(229, 124, 255);
}

.aboutMeDeliveryTimeCard{
    border: 4px solid rgb(133, 220, 255);
}

.fa-star{
    color: rgb(229, 124, 255);
}

.fa-truck-fast{
    color: rgb(133, 220, 255);
}

.aboutMeCardIcon{
    font-size: 2.2rem;
}

.aboutMeCardInfo{
    font-size: 1.1rem;
}

/* ------------- CONTACT SECTION ------------- */

.contactSection{
    padding: 40px 20px;
}

.contactForm{
    padding: 50px;
    width: 80%;
    margin: auto;
}

.formInput{
    margin-bottom: 30px;
    padding: 15px;
    font-size: 1.1rem;
}

.contactFormSubmitButton{
    padding: 10px 50px;
    font-size: 1.2rem;
    font-weight: 500;
}

/* ------------- FOOTER ------------- */

footer{
    padding: 20px 0px;
}

.footerCopyright{
    font-size: 1rem;
    margin-bottom: 20px;
}

.footerPortfolioLink{
    font-size: 1.2rem;
}

/* ------------- ERROR 404 ------------- */

.error404Container{
    width: 70%;
    padding: 30px 50px;
}

.error404Title{
    margin-bottom: 20px;
}

/* ------------- LOGIN ------------- */

.loginForm{
    padding: 30px;
    width: 60%;
}

.loginTitle{
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.loginInput{
    font-size: 1.1rem;
    padding: 15px;
    margin-bottom: 25px;
}

.loginButton{
    padding: 10px 30px;
    font-size: 1rem;
}

.loginErrorsContainer{
    color: red;
    font-size: 1rem;
}
}

/* --------------------------- MINI DESKTOP VIEW --------------------------- */

@media (width >= 992px) {

/* ------------- GENERAL ------------- */

.sectionTitle{
    font-size: 2.5rem;
}

/* ------------- HEADER ------------- */

header{
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 10;
}

.headerNavbar{
    display: block;
    padding: 10px 0;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    background: linear-gradient(90deg, rgba(255,189,144,0.7) 0%, rgba(223,26,116,0.7) 50%, rgba(93,3,159,0.7) 100%);
    backdrop-filter: blur(10px);
}

.headerNavbar>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.headerNavbarLink{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all .4s;
}

.headerNavbarLink:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transition: all .4s;
}

.mobileNavbarButton{
    display: none;
}

/* ------------- MAIN ------------- */

/* HOME SECTION */

.homeTItle{
    font-size: 2.4rem;
}

.homeSubtitle{
    font-size: 1.5rem;
    font-weight: 700;
}

.cvLink{
    font-size: 1rem;
}

/* PROYECTS SECTION */

.proyectsSection{
    padding: 50px 40px;
}

.proyectsContainer{
    gap: 20px;
}

.proyectContainer{
    width: 280px;
}

.proyectImage{
    height: 240px;
}

.proyectTitle{
    font-size: 1.2rem;
}

.proyectDetail{
    width: 50%;
    padding: 60px 20px 40px;
}

.closeProyectDetailButton{
    cursor: pointer;
}

.proyectTitleDetail{
    font-size: 1.5rem;
    margin: 20px 0;
}

.proyectLink{
    font-size: 1.5rem;
    padding: 3px 30px;
}

.editDeleteButtonsContainer{
    margin-top: 25px;
}

.editDeleteButton{
    font-size: 1.1rem;
}

/* ABOUT ME SECTION */

.aboutMeSection{
    padding: 50px 40px;
}

.aboutMeInfoContainer{
    padding: 15px;
}

.aboutMeInfoContainer>p{
    font-size: 1rem;
}

.aboutMeCardsContainer{
    padding-left: 60px;
    gap: 10px;
}

/* CONTACT SECTION */

.contactSection{
    padding: 50px 40px;
}

.contactForm{
    padding: 30px;
    width: 70%;
}

.formInput{
    margin-bottom: 20px;
    font-size: 1rem;
}

.contactFormSubmitButton{
    font-size: 1rem;
    margin-top: 10px;
}

/* ------------- FOOTER ------------- */

footer{
    padding: 20px 0px;
}

.footerCopyright{
    font-size: .9rem;
    margin-bottom: 20px;
}

.footerPortfolioLink{
    font-size: 1.1rem;
}

/* ------------- ERROR 404 ------------- */

.error404Container{
    width: 60%;
    padding: 30px 50px;
}

.error404Text{
    font-size: 1rem;
}

/* ------------- LOGIN ------------- */

.loginForm{
    width: 50%;
}

.loginInput{
    font-size: 1rem;
}

.loginButton{
    padding: 10px 40px;
    font-size: .9rem;
}
}

/* --------------------------- DESKTOP VIEW --------------------------- */

@media (width >= 1200px) {
    
    /* ------------- MAIN ------------- */
    
    /* HOME SECTION */
    
    .homeTItle{
        font-size: 2.3rem;
        margin-bottom: 10px;
    }
    
    .homeSubtitle{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    
    .cvButton{
        padding: 10px 40px;
    }
    
    .cvLink{
        font-size: 1.1rem;
    }
    
    /* PROYECTS SECTION */
    
    .proyectsSection{
        padding: 50px 60px;
    }
    
    .proyectContainer{
        width: 300px;
    }
    
    .proyectDetail{
        width: 30%;
        box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.6);
        cursor: default;
    }
    
    .proyectTitleDetail{
        font-size: 1.3rem;
    }
    
    .proyectLink{
        font-size: 1.3rem;
    }

    .editDeleteButton{
        font-size: 1rem;
    }

    /* ABOUT ME SECTION */
    
    .aboutMeSection{
        padding: 50px 60px;
    }

    .aboutMeImage{
        height: 400px;
    }
    
    .aboutMeInfoContainer{
        margin: 0 30px;
    }
    
    .aboutMeInfoContainer>p{
        font-size: .9rem;
    }
    
    .aboutMeCardsContainer{
        gap: 15px;
    }
    
    /* CONTACT SECTION */
    
    .contactSection{
        padding: 50px 60px;
    }
    
    .contactForm{
        width: 60%;
    }
    
    .formInput{
        font-size: .9rem;
    }
    
    .contactFormSubmitButton{
        font-size: .9rem;
    }

    /* ------------- ERROR 404 ------------- */

    .error404Container{
        width: 50%;
    }

    /* ------------- LOGIN ------------- */

    .loginForm{
        width: 30%;
    }

    .loginInput{
        padding: 10px;
        margin-bottom: 15px;
        font-size: .9rem;
    }

    .loginButton{
        padding: 10px 50px;
        font-weight: 600;
        font-size: .8rem;
    }

    .loginErrorsContainer{
        color: red;
        font-size: .9rem;
    }
}

/* --------------------------- KEYFRAMES --------------------------- */

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes left-to-right {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes up-to-down {
    from{
        transform: translateY(-50vh);
    }
    to{
        transform: translateY(0vh);
    }
}

@keyframes down-to-up {
    from{
        transform: translateY(0vh);
    }
    to{
        transform: translateY(-50vh);
    }
}