/* --------------------------- IMPORTS --------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* --------------------------- GENERAL --------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body{
    background-image: url("/img/background.png");
    background-position-x: center;
}

.sectionTitle{
    font-size: 2.2rem;
    font-weight: 700;
    background: linear-gradient(to right, rgba(255,189,144,1), rgba(223,26,116,1), rgba(93,3,159,1));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* --------------------------- MAIN --------------------------- */

/* ------------- HOME SECTION ------------- */

.homeSection{
    height: 100vh;
}

.homeInformation{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10%;
    text-align: center;
}

.homeTItle{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.homeSubtitle{
    color: rgb(159, 32, 209);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.cvButton{
    border: none;
    background: linear-gradient(90deg, rgba(255,189,144,1) 0%, rgba(223,26,116,1) 50%, rgba(93,3,159,1) 100%);
    padding: 15px 40px;
    border-radius: 20px;
}

.cvLink{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

/* ------------- PROYECTS SECTION ------------- */

.proyectsSection{
    border: 1px solid red;
    padding: 40px 0;
}