@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: rgb(10, 10, 10);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  position: sticky;
  top: 0;
  background-color: rgb(249, 249, 249);
}

header::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #a628d9, #ffa000);
}

.headerTitleContainer {
  width: 60%;
}

.headerTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.headerLanguageAndMenuIconContainer {
  display: flex;
  justify-content: right;
  gap: 20px;
  width: 40%;
}

/* Language selector */
.headerLanguageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headerSelectedLanguageContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.headerSelectedLanguage {
  border-radius: 50%;
  width: 22px;
  cursor: pointer;
}

.headerLanguagesContainer {
  display: none;
  background-color: rgb(235, 235, 235);
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  margin-top: 35px;
  z-index: 1;
}

.headerLanguage {
  width: 20px;
  border-radius: 50%;
}

/* Menu */
.headerOpenMenuIconContainer {
  display: flex;
  align-items: center;
}

.headerOpenMenuIcon {
  width: 34px;
}

/* Navbar */
.headerNavbar {
  display: none;
  background-color: rgb(249, 249, 249);
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  padding: 7px 15px;
  z-index: 1;
  box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.4);
}

.headerNavbarCloseMenuIconContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 70px;
}

.headerNavbarCloseMenuIcon {
  width: 34px;
  text-align: right;
}

.headerNavbarList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.headerNavbarItemList {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

/* ---------------------- TABLET VIEW ---------------------- */
@media (width >= 768px) {
  header {
    padding: 15px 30px;
  }
  .headerTitle {
    font-size: 1.5rem;
  }
  .headerLanguageAndMenuIconContainer {
    gap: 30px;
  }
  /* Language selector */
  .headerSelectedLanguage {
    width: 28px;
  }
  .headerLanguagesContainer {
    gap: 22px;
    padding: 13px;
    border-radius: 25px;
    margin-top: 47px;
  }
  .headerLanguage {
    width: 26px;
  }
  /* Menu */
  .headerOpenMenuIcon {
    width: 42px;
  }
  /* Navbar */
  .headerNavbar {
    width: 40%;
    padding: 15px 30px;
  }
  .headerNavbarCloseMenuIconContainer {
    margin-bottom: 130px;
  }
  .headerNavbarCloseMenuIcon {
    width: 42px;
  }
  .headerNavbarList {
    gap: 45px;
  }
  .headerNavbarItemList {
    font-size: 1.4rem;
  }
}
/* ---------------------- DESKTOP 992PX WIDTH VIEW ---------------------- */
@media (width >= 992px) {
  header {
    padding: 8px 25px;
  }
  .headerTitleContainer {
    width: auto;
  }
  .headerTitle {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .headerLanguageAndMenuIconContainer {
    width: auto;
  }
  /* Language selector */
  .headerSelectedLanguage {
    width: 18px;
  }
  .headerLanguagesContainer {
    gap: 18px;
    padding: 9px;
    margin-top: 25px;
  }
  .headerLanguage {
    width: 16px;
    cursor: pointer;
  }
  /* Menu */
  .headerOpenMenuIconContainer {
    display: none;
  }
  /* Navbar */
  .headerNavbar {
    display: block;
    background-color: none;
    position: static;
    right: none;
    top: none;
    width: 75%;
    height: auto;
    padding: 0;
    box-shadow: none;
  }
  .headerNavbarCloseMenuIconContainer {
    display: none;
  }
  .headerNavbarList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    gap: 25px;
  }
  .headerNavbarItemList {
    font-size: 0.65rem;
    position: relative;
  }
  .headerNavbarItemListLink::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #a628d9, #ffa000);
    transition: width 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  .headerNavbarItemListLink:hover::after {
    width: 100%;
    opacity: 1;
  }
}
/* ---------------------- DESKTOP VIEW ---------------------- */
@media (width >= 1200px) {
  header {
    padding: 15px 35px;
  }
  /* Navbar */
  .headerNavbarList {
    gap: 35px;
  }
  .headerNavbarItemList {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=styles.css.map */