$white: rgb(250, 250, 250);
$violet: rgb(80, 36, 209);
$violetTranparent: rgba(80, 36, 209, 0.3);
$green: rgb(82, 226, 154);

// ----------------------------------------------------------

$grayText: rgb(170, 170, 170);
$secondGrayText: rgb(40, 40, 40);