<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Proyect creation"}) %>
</head>
<body>
    <main>
        <form class="loginForm" action="/proyect-create" method="post" enctype="multipart/form-data">
            <h1 class="loginTitle">Create proyect</h1>

            <label for="proyectName">
                <input class="loginInput" type="text" name="proyectName" id="proyectName" placeholder="proyect name">
            </label>

            <label for="proyectLink">
                <input class="loginInput" type="url" name="proyectLink" id="proyectLink" placeholder="proyect link">
            </label>

            <label for="githubLink">
                <input class="loginInput" type="url" name="githubLink" id="githubLink" placeholder="Github link">
            </label>

            <label for="proyectImage">
                <input class="loginInput" type="file" name="proyectImage" id="proyectImage">
            </label>

            <button class="loginButton" type="submit">Create</button>
        </form>
    </main>
</body>
</html>