<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Not found 🔎"}) %>
</head>
<body>
    <main>
        <div class="error404Container">
            <h1 class="error404Title">Error 404 - not found :(</h1>
            <p class="error404Text">The url you searched for does not exist. Check if you wrote it correctly.</p>
        </div>
    </main>
</body>
</html>