<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Leandro Heffes"}) %>
</head>
<body>
    <header>
        <nav class="headerNavbar">
            <% if (locals.isLoggedIn) { %>
                <ul>
                    <li><a class="headerNavbarLink" href="#homeSection">Home</a></li>
                    <li><a class="headerNavbarLink" href="#proyectsSection">Proyects</a></li>
                    <li><a class="headerNavbarLink" href="#aboutMeSection">About me</a></li>
                    <li><a class="headerNavbarLink" href="#contactSection">Contact</a></li>
                    <li><a class="headerNavbarLink" href="/proyect-create">Create proyect</a></li>
                </ul>
            <% } else { %>
                <ul>
                    <li><a class="headerNavbarLink" href="#homeSection">Home</a></li>
                    <li><a class="headerNavbarLink" href="#proyectsSection">Proyects</a></li>
                    <li><a class="headerNavbarLink" href="#aboutMeSection">About me</a></li>
                    <li><a class="headerNavbarLink" href="#contactSection">Contact</a></li>
                </ul>
            <% } %>
        </nav>

        <button class="mobileNavbarButton">
            <i class="fa-solid fa-bars-staggered"></i>
        </button>
    </header>

    <main>
        <nav class="mobileNavbar">
            <% if (locals.isLoggedIn) { %>
                <ul class="mobileNavbarUnorderList">
                    <li><a class="mobileNavbarLink" href="#homeSection">Home</a></li>
                    <li><a class="mobileNavbarLink" href="#proyectsSection">Proyects</a></li>
                    <li><a class="mobileNavbarLink" href="#aboutMeSection">About me</a></li>
                    <li><a class="mobileNavbarLink" href="#contactSection">Contact</a></li>
                    <li><a class="mobileNavbarLink" href="/proyect-create">Create proyect</a></li>
                </ul>
            <% } else { %>
                <ul class="mobileNavbarUnorderList">
                    <li><a class="mobileNavbarLink" href="#homeSection">Home</a></li>
                    <li><a class="mobileNavbarLink" href="#proyectsSection">Proyects</a></li>
                    <li><a class="mobileNavbarLink" href="#aboutMeSection">About me</a></li>
                    <li><a class="mobileNavbarLink" href="#contactSection">Contact</a></li>
                </ul>
            <% } %>

            <button class="closeMobileNavbarButton">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </nav>

        <section class="homeSection" id="homeSection">
            <div class="homeInformation">
                <h1 class="homeTItle">Leandro Heffes</h1>
                <h2 class="homeSubtitle">Full Stack Web Developer</h2>
                <button class="cvButton">
                    <a class="cvLink" download="CV Leandro Heffes.pdf" href="/pdf/CV Leandro Heffes.pdf">Download my CV</a>
                </button>
            </div>
        </section>

        <section class="proyectsSection" id="proyectsSection">
            <h3 class="sectionTitle">Proyects</h3>

            <div class="proyectsContainer">
                <div class="proyectContainer" id="swProyectContainer">
                    <img class="proyectImage" src="/img/sw-mockup.webp" alt="SW Asistencia Virtual mockup">

                    <h4 class="proyectTitle">SW Asistencia Virtual</h4>

                    <div class="proyectDetail" id="swProyectDetail">
                        <button class="closeProyectDetailButton">
                            <i class="fa-solid fa-square-xmark"></i>
                        </button>
    
                        <img class="proyectImageDetail" src="/img/sw-mockup.webp" alt="SW Asistencia Virtual mockup">
                        <h4 class="proyectTitleDetail">SW Asistencia Virtual</h4>
    
                        <div class="proyectLinks">
                            <a class="proyectLink" href="https://github.com/leandroheffes24/sw-asistencia-virtual"><i class="fa-brands fa-github"></i></a>
                            <a class="proyectLink" href="https://sw-asistencia-virtual.vercel.app/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                    </div>
                </div>

                <div class="proyectContainer" id="clothingEcommerceContainer">
                    <img class="proyectImage" src="/img/ecommerce-mockup.webp" alt="Clothing e-commerce mockup">
                    <h4 class="proyectTitle">Clothing e-commerce</h4>

                    <div class="proyectDetail" id="clothingEcommerceProyectDetail">
                        <button class="closeProyectDetailButton">
                            <i class="fa-solid fa-square-xmark"></i>
                        </button>

                        <img class="proyectImageDetail" src="/img/ecommerce-mockup.webp" alt="Clothing e-commerce mockup">
                        <h4 class="proyectTitleDetail">Clothing e-commerce</h4>

                        <div class="proyectLinks">
                            <a class="proyectLink" href="https://github.com/leandroheffes24/digitalhouse-ecommerce"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>

                <div class="proyectContainer" id="theWeekndPortalContainer">
                    <img class="proyectImage" src="/img/ecommerce-mockup.webp" alt="Clothing e-commerce mockup">
                    <h4 class="proyectTitle">The Weeknd Portal</h4>

                    <div class="proyectDetail" id="theWeekndPortalDetail">
                        <button class="closeProyectDetailButton">
                            <i class="fa-solid fa-square-xmark"></i>
                        </button>

                        <img class="proyectImageDetail" src="/img/ecommerce-mockup.webp" alt="Clothing e-commerce mockup">
                        <h4 class="proyectTitleDetail">The Weeknd Portal</h4>

                        <div class="proyectLinks">
                            <a class="proyectLink" href="https://github.com/leandroheffes24/the-weeknd-portal"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="aboutMeSection" id="aboutMeSection">
            <h3 class="sectionTitle">About me</h3>

            <div class="aboutMeContainer">
                <div class="aboutMeImageAndInfoContainer">
                    <img class="aboutMeImage" src="/img/Leandro-Heffes.png" alt="Leandro Heffes picture">
                    <div class="aboutMeInfoContainer">
                        <p>I'm Leandro Heffes, I'm 21 years old and I'm from Argentina. I actually live in Bahía Blanca, Buenos Aires, and I'm working as a freelance full stack web developer.</p>
                    </div>
                </div>

                <div class="aboutMeCardsContainer">
                    <div class="aboutMeCertificateCard aboutMeCard">
                        <i class="fa-solid fa-medal aboutMeCardIcon"></i>
                        <p class="aboutMeCardInfo">Certificate in full stack web development</p>
                    </div>

                    <div class="aboutMeExperienceCard aboutMeCard">
                        <i class="fa-solid fa-flask aboutMeCardIcon"></i>
                        <p class="aboutMeCardInfo">+1 year of experience</p>
                    </div>

                    <div class="aboutMeSatisfiedCustomersCard aboutMeCard">
                        <i class="fa-solid fa-face-smile-beam aboutMeCardIcon"></i>
                        <p class="aboutMeCardInfo">100% satisfied customers</p>
                    </div>

                    <div class="aboutMeQualityCard aboutMeCard">
                        <i class="fa-solid fa-star aboutMeCardIcon"></i>
                        <p class="aboutMeCardInfo">Best web app quality</p>
                    </div>

                    <div class="aboutMeDeliveryTimeCard aboutMeCard">
                        <i class="fa-solid fa-truck-fast aboutMeCardIcon"></i>
                        <p class="aboutMeCardInfo">Fast delivery time</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="contactSection" id="contactSection">
            <h3 class="sectionTitle">Contact me</h3>

            <div class="contactFormContainer">
                <form class="contactForm" action="https://formspree.io/f/xoqgjpvn"
                method="POST">
                    <input class="formInput" type="text" name="name" placeholder="Name" maxlength="40">
                    <input class="formInput" type="email" name="email" placeholder="Email" maxlength="70">
                    <textarea class="formInput" name="message" id="message" cols="30" rows="7" placeholder="Your message" maxlength="300"></textarea>
                    <button class="contactFormSubmitButton" type="submit">Submit</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>