<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leandro Heffes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="headerLightAndDarkThemeAndLanguagesContainer">
            <div class="headerLightAndDarkThemeContainer">
                <label for="theme" class="theme">
                    <span class="theme__toggle-wrap">
                        <input id="theme" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark">
                        <span class="theme__fill"></span>
                        <span class="theme__icon">
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                        </span>
                    </span>
                </label>
            </div>
    
            <div class="headerLanguagesContainer">
                <select class="headerLanguagesSelect" name="language">
                    <option class="headerLanguageOption" value="english" selected>🇬🇧</option>
                    <option class="headerLanguageOption" value="spanish">🇪🇸</option>
                </select>
            </div>
        </div>

        <div class="headerOpenMenuIconContainer">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerOpenMenuIcon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 8l16 0"/>
                <path d="M4 16l16 0"/>
            </svg>
        </div>
    </header>

    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
    <h1>dhioadb</h1>
</body>
</html>