<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leandro Heffes</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <!-- <nav class="headerNavbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Proyects</a></li>
                <li><a href="">About me</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav> -->
    </header>

    <main>
        <!-- <nav class="mobileNavbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Proyects</a></li>
                <li><a href="">About me</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav> -->

        <section class="homeSection">
            <div class="homeInformation">
                <h1 class="homeTItle">Leandro Heffes</h1>
                <h2 class="homeSubtitle">Full Stack Web Developer</h2>
                <button class="cvButton">
                    <a class="cvLink" download="CV Leandro Heffes.pdf" href="/pdf/CV Leandro Heffes.pdf">Download my CV</a>
                </button>
            </div>
        </section>

        <section class="proyectsSection">
            <h3 class="sectionTitle">Proyects</h3>

            <div class="proyectsContainer">
                <div class="proyectContainer">
                    <img class="proyectImage" src="/img/sw-mockup.webp" alt="">
                    <h4 class="proyectTitle">SW Asistencia Virtual</h4>
                </div>

                <div class="proyectContainer">
                    <img class="proyectImage" src="/img/ecommerce-mockup.webp" alt="">
                    <h4 class="proyectTitle">Clothing e-commerce</h4>
                </div>
            </div>
        </section>

        <section class="aboutMeSection">
            <h3 class="sectionTitle">About me</h3>

            <div class="aboutMeContainer">
                <div class="aboutMeImageAndInfoContainer">
                    <img class="aboutMeImage" src="/img/Leandro-Heffes.png" alt="">
                    <div class="aboutMeInfoContainer">
                        <p>I'm Leandro Heffes, I'm 21 years old and I'm from Argentina. I actually live in Bahía Blanca, Buenos Aires, and I'm working as a freelance full stack web developer.</p>
                    </div>
                </div>

                <div class="aboutMeCardsContainer">
                    <div class="aboutMeCertificateCard aboutMeCard">
                        <i class="fa-solid fa-medal aboutMeCardIcon"></i>
                        <p class="aboutMeCardInfo">Certificate in full stack web development</p>
                    </div>

                    <div class="aboutMeExperienceCard aboutMeCard">
                        <i class="fa-solid fa-flask aboutMeCardIcon"></i>
                        <p class="aboutMeCardInfo">+1 year of experience</p>
                    </div>

                    <div class="aboutMeSatisfiedCustomersCard aboutMeCard">
                        <i class="fa-solid fa-face-smile-beam aboutMeCardIcon"></i>
                        <p class="aboutMeCardInfo">100% satisfied customers</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="contactSection">

        </section>
    </main>

    <footer>

    </footer>
</body>
</html>