<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leandro Heffes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/headerNavbarScript.js" defer></script>
    <script src="/js/headerLanguageScript.js" defer></script>
</head>
<body>
    <header>
        <div class="headerTitleContainer">
            <a href="/"><h1 class="headerTitle">Leandro Heffes</h1></a>
        </div>

        <div class="headerLanguageAndMenuIconContainer">
            <div class="headerLanguageContainer">
                <div class="headerSelectedLanguageContainer">
                    <img id="headerSelectedLanguage" class="headerSelectedLanguage" src="/images/english.webp" alt="English language">
                </div>
    
                <div id="headerLanguagesContainer" class="headerLanguagesContainer">
                    <img id="headerEnglishLanguage" class="headerLanguage" src="/images/english.webp" alt="English language">
                    <img id="headerSpanishLanguage" class="headerLanguage" src="/images/spanish.webp" alt="Spanish language">
                </div>
            </div>
    
            <div class="headerOpenMenuIconContainer">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerOpenMenuIcon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 8l16 0"/>
                    <path d="M4 16l16 0"/>
                </svg>
            </div>
        </div>

        <nav class="headerNavbar">
            <div class="headerNavbarCloseMenuIconContainer">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerNavbarCloseMenuIcon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                </svg>
            </div>

            <ul class="headerNavbarList">
                <li class="headerNavbarItemList"><a class="headerNavbarItemListLink" href="#home">HOME</a></li>
                <li class="headerNavbarItemList"><a class="headerNavbarItemListLink" href="#sobreMi">SOBRE MÍ</a></li>
                <li class="headerNavbarItemList"><a class="headerNavbarItemListLink" href="#experienciaProfesional">EXPERIENCIA PROFESIONAL</a></li>
                <li class="headerNavbarItemList"><a class="headerNavbarItemListLink" href="#proyectos">PROYECTOS</a></li>
                <li class="headerNavbarItemList"><a class="headerNavbarItemListLink" href="#educacion">EDUCACIÓN</a></li>
                <li class="headerNavbarItemList"><a class="headerNavbarItemListLink" href="#tecnologias">TECNOLOGÍAS</a></li>
                <li class="headerNavbarItemList"><a class="headerNavbarItemListLink" href="#contacto">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="homeSection">
            <section class="homeLeftSection">

            </section>

            <section class="homeRightSection">

            </section>
        </section>
    </main>
</body>
</html>