<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leandro Heffes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/headerNavbarScript.js" defer></script>
</head>
<body>
    <header>
        <div class="headerLightAndDarkThemeAndLanguagesContainer">
            <div class="headerLightAndDarkThemeContainer">
                <label for="theme" class="theme">
                    <span class="theme__toggle-wrap">
                        <input id="theme" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark">
                        <span class="theme__fill"></span>
                        <span class="theme__icon">
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                            <span class="theme__icon-part"></span>
                        </span>
                    </span>
                </label>
            </div>
    
            <div class="headerLanguagesContainer">
                <select class="headerLanguagesSelect" name="language">
                    <option class="headerLanguageOption" value="english" selected>🇬🇧</option>
                    <option class="headerLanguageOption" value="spanish">🇪🇸</option>
                </select>
            </div>
        </div>

        <div class="headerOpenMenuIconContainer">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerOpenMenuIcon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 8l16 0"/>
                <path d="M4 16l16 0"/>
            </svg>
        </div>

        <nav class="headerNavbar">
            <div class="headerNavbarCloseMenuIconContainer">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerNavbarCloseMenuIcon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                </svg>
            </div>

            <ul class="headerNavbarList">
                <li class="headerNavbarItemList"><a href="#home">HOME</a></li>
                <li class="headerNavbarItemList"><a href="#sobreMi">SOBRE MÍ</a></li>
                <li class="headerNavbarItemList"><a href="#experienciaProfesional">EXPERIENCIA PROFESIONAL</a></li>
                <li class="headerNavbarItemList"><a href="#proyectos">PROYECTOS</a></li>
                <li class="headerNavbarItemList"><a href="#educacion">EDUCACIÓN</a></li>
                <li class="headerNavbarItemList"><a href="#tecnologias">TECNOLOGÍAS</a></li>
                <li class="headerNavbarItemList"><a href="#contacto">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>