<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Login"}) %>
</head>
<body>
    <main>
        <form class="loginForm" action="" method="post">
            <h1 class="loginTitle">Sign in</h1>

            <label for="email">
                <input class="loginInput" type="email" name="email" id="email" placeholder="email">
            </label>

            <label for="password">
                <input class="loginInput" type="password" name="password" id="password" placeholder="password">
            </label>

            <button class="loginButton" type="submit">Login</button>
        </form>
    </main>
</body>
</html>