<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Login"}) %>
</head>
<body>
    <main>
        <form class="loginForm" action="/login" method="post">
            <h1 class="loginTitle">Sign in</h1>

            <label for="email">
                <input class="loginInput" type="email" name="email" id="email" placeholder="email">
            </label>

            <label for="password">
                <input class="loginInput" type="password" name="password" id="password" placeholder="password">
            </label>

            <% if(locals.errors) { %>
                <div class="loginErrorsContainer">
                    <% if (locals.errors && errors.email) { %>
                        <span class="loginError">
                            <%= errors.email.msg %>
                        </span>
                    <% } else if (locals.errors && errors.password) { %>
                        <span class="loginError">
                            <%= errors.password.msg %>
                        </span>
                    <% } %>
                </div>
            <% } %>

            <button class="loginButton" type="submit">Login</button>
        </form>
    </main>
</body>
</html>