<div class="footerInfoContainer">
    <p class="footerCopyright">© Leandro Heffes 2024. All rights reserved.</p>
    <p class="footerPortfolioLink">Developed by <a class="portfolioLink" href="https://leandroheffes.vercel.app">Leandro Heffes</a></p>
</div>