$backgroundPrimaryColor: rgb(255, 255, 255);
$backgroundSecondaryColor: rgb(249, 249, 249);
$thirdBackgroundColor: rgb(235, 235, 235);

$textPrimaryColor: rgb(10, 10, 10);
$textSecondaryColor: rgb(60, 60, 60);
$textThirdColor: rgb(90, 90, 90)